!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! $HOME/.Xresources - mbp-01 - Debian 13
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! xrdb -remove
!! xrdb -query all
!! xrdb -merge ~/.Xresources
!! xrdb ~/.Xresources

!! -----------------------------------------------

!! Xft
!! https://github.com/vonbrownie/dotfiles/blob/master/.Xresources
Xft.dpi:				96
Xft.antialias:				true
Xft.rgba:				rgb
Xft.hinting:				true
Xft.hintstyle:				hintslight

!! -----------------------------------------------

!! XTerm
!! http://www.futurile.net/2016/06/14/xterm-setup-and-truetype-font-configuration/

!! -----------------------------------------------------------------------------
!! -----------------------------------------------------------------------------
!! Fonts:
!! -----
!!XTerm*faceName:			Gohu Nerd Font
!!XTerm.vt100.faceName:			GohuFont Nerd Font Mono:pixelsize=12
!!XTerm*faceName:			Gohu GohuFont	
!!XTerm*faceName:			GohuFont Nerd Font Mono:style=Regular:pixelsize=12
!!XTerm*faceName:			xft:GohuFont Nerd Font Mono:pixelsize=12
!!xterm*faceName:			xft:GohuFont Nerd Font
!!xterm*faceName:			Ubuntu Mono
!!xterm*faceName:			CPMono_v07 Plain
xterm*faceName:				ShareTechMono-Regular
!!xterm*faceName:			Perfect DOS VGA 437

xterm*faceSize:				13
xterm*renderFont:			true

!! -----------------------------------------------------------------------------
!! -----------------------------------------------------------------------------
!! GTK Mouse Cursor:
!! ----------------
Xcursor.theme:				my_breeze_cursors
!!Xcursor.theme:			Google_Cursor
!!Xcursor.theme:			Adwaita

!! -----------------------------------------------------------------------------
!! -----------------------------------------------------------------------------
!! Terminal Cursor:
!! ---------------
xterm*cursorBlink:			True
xterm*pointerColor:			White
xterm*pointerColorBackground:		Black
xterm*cursorColor:			Orange

!! -----------------------------------------------------------------------------
!! -----------------------------------------------------------------------------
!! X11 Mouse Cursor:
!! ----------------
!XTerm*pointerShape:			left_ptr

!! -----------------------------------------------------------------------------
!! -----------------------------------------------------------------------------
!! Keyboard Shortcuts:
!! ------------------
XTerm.vt100.translations: #override \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font() \n\
  Ctrl <Key> 0: set-vt-font(d) \n\
  Shift <Key> Up: scroll-back(10, line) \n\
  Shift <Key> Down: scroll-forw(10, line) \n\
  <Key> F12: set-reverse-video(toggle)

!! -----------------------------------------------
!! https://wiki.archlinux.org/title/Rxvt-unicode

!!	URxvt.print-pipe:			cat > ~/Downloads/URxvt_$(date '+%Y-%m-%d_%H:%M:%S').txt
!!	URxvt.scrollTtyOutput:			False
!!	URxvt.scrollWithBuffer:			True
!!	URxvt.scrollTtyKeypress:		True
!!	URxvt.secondaryScroll:			False
!!	URxvt.secondaryWheel:			True

!! -----------------------------------------------

!! -----------------------------------------------
!! -----------------------------------------------
!! Scrollbars disabled
XTerm*scrollBar:			False

!! Remove the additional black border:
XTerm*borderWidth:			0
!! Text padding inside the Terminal:
XTerm*internalBorder:			10

!! -----------------------------------------------
!! -----------------------------------------------

!! Only select text
xterm*highlightSelection:		true
!! Remove trailing spaces
xterm*trimSelection:			true

!! Lines of output that you can scroll back over
xterm*saveLines:			16384

!! Do not scroll when there is new input e.g. tail -f /var/syslog
xterm*scrollTtyOutput:			false

!! Pressing a key automatically scrolls to the bottom
xterm*scrollKey:			true

!! Works on Debian Sids xterm:
!xterm*VT100.alternateScroll:		true

xterm*alternateScroll:			true
xterm*multiScroll:			true
xterm*jumpScroll:			true
xterm*fastScroll:			true

!! Do not clear the screen after the program exits
!! XTerm*VT100*titeInhibit:             true
!! https://lukas.zapletalovi.com/2013/07/hidden-gems-of-xterm.html
xterm*charClass:			33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
!!XTerm*on3Clicks:                       regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+

!! Clicking a line selects only from the current word forward
XTerm*cutToBeginningOfLine:		false
!! Dont include a trailing newline in the selection
XTerm*cutNewline:			false

!! Select word on two clicks
XTerm*on2Clicks:			word
!! Select whole line on three clicks
XTerm*on3Clicks:			line

!! -----------------------------------------------------------------------------
!! -----------------------------------------------------------------------------
!! Xterm Colors:
!! ------------
XTerm*termName:				xterm-256color

!! -----------------------------------------------------------------------------
!! -----------------------------------------------------------------------------
!! xidle:
!! -----
!! Drag pointer to lower left corner to lock screen
XIdle*position:		sw
!! Leave it there for one second.
XIdle*delay:		1
!! Lock screen after 5 minutes of inactivity
XIdle*timeout:		300

!! -----------------------------------------------------------------------------
!! -----------------------------------------------------------------------------
!! Xterm Themes:
!! ------------

!! -----------------------------------------------------------------------------
!! -----------------------------------------------------------------------------
!! Catppuccin: Latte
!! https://github.com/catppuccin/xresources/blob/main/themes/latte.Xresources

!! Special Colors
*foreground:	#4c4f69
*background:	#eff1f5

!! Black
*color0:	#5c5f77
*color8:	#6c6f85

!! Red
*color1:	#d20f39
*color9:	#d20f39

!! Green
*color2:	#40a02b
*color10:	#40a02b

!! Yellow
*color3:	#df8e1d
*color11:	#df8e1d

!! Blue
*color4:	#1e66f5
*color12:	#1e66f5

!! Magenta
*color5:	#8839ef
*color13:	#8839ef

!! Cyan
*color6:	#239fb5
*color14:	#239fb5

!! White
*color7:	#acb0be
*color15:	#bcc0cc


!! -----------------------------------------------------------------------------
!! -----------------------------------------------------------------------------
!! X Calc:
!! ------
xcalc*ti.button1.vertDistance: 4
xcalc*ti.button2.vertDistance: 4
xcalc*ti.button3.vertDistance: 4
xcalc*ti.button4.vertDistance: 4
xcalc*ti.button5.vertDistance: 4
xcalc*ti.background: gray90
xcalc*ti.bevel.borderColor: gray65
xcalc*ti.bevel.borderWidth: 1
xcalc*ti.bevel.vertDistance: 4
xcalc*ti.bevel.defaultDistance: 0
xcalc*ti.bevel.background: rgb:b/c/b
xcalc*ti.bevel.screen*background: rgb:b/c/b
xcalc*ti.bevel.screen.borderColor: rgb:b/c/b
xcalc*ti.bevel.screen.vertDistance: 10
xcalc*ti.bevel.screen.horizDistance: 10
xcalc*ti.bevel.screen*left: chainLeft
xcalc*ti.bevel.screen*right: chainRight
xcalc*ti.bevel.screen*top: chainTop
xcalc*ti.bevel.screen*bottom: chainBottom
xcalc*ti.bevel.screen*LCD.foreground: gray10
xcalc*ti.bevel.screen*INV.vertDistance: 0
xcalc*ti.Command.borderColor: gray65
xcalc*ti.Command.background: gray85
xcalc*ti.Command.foreground: gray30
!!xcalc*ti.button5.background: rgb:e/b/b
xcalc.ti.button5.background: Orange2
xcalc*ti.button20.background: rgb:e/d/c
xcalc*ti.button25.background: rgb:e/d/c
xcalc*ti.button30.background: rgb:e/d/c
xcalc*ti.button35.background: rgb:e/d/c
xcalc*ti.button40.background: rgb:b/b/e
xcalc*ti.button22.background: gray95
xcalc*ti.button23.background: gray95
xcalc*ti.button24.background: gray95
xcalc*ti.button27.background: gray95
xcalc*ti.button28.background: gray95
xcalc*ti.button29.background: gray95
xcalc*ti.button32.background: gray95
xcalc*ti.button33.background: gray95
xcalc*ti.button34.background: gray95
xcalc*ti.button37.background: gray95
xcalc*ti.button38.background: gray95
xcalc*ti.button39.background: gray95
xcalc*font:9x15
xcalc*ti.button3.font:9x15
xcalc*ti.button3.label:SQRT
xcalc*ti.cursor: hand2
!! xcalc*ti.command.shapeStyle: rectangle

!! -----------------------------------------------------------------------------
!! -----------------------------------------------------------------------------
!! X Clock:
!! -------
XClock*analog      : false
XClock*twentyfour  : true
XClock*padding     : 0
XClock*geometry    : -2-2
XClock*render      : false
XClock*font        : -misc-fixed-bold-r-normal-*-13-*-*-*-*-*-iso10646-1
XClock*height      : 12
XClock*background  : dimgray
XClock*foreground  : white
XClock*borderWidth : 0

!! -----------------------------------------------------------------------------
!! -----------------------------------------------------------------------------
!! X Screen Saver:
!! --------------
!! https://blog.hartwork.org/posts/xscreensaver-unlock-dialog/

xscreensaver.dateFormat:
xscreensaver.passwd.body.label:
xscreensaver.passwd.heading.label:
xscreensaver.passwd.login.label:
xscreensaver.passwd.thermometer.width:  2
xscreensaver.passwd.uname:              False 
xscreensaver.passwd.unlock.label:

xscreensaver.Dialog.background:         #000000
xscreensaver.Dialog.foreground:         #ffffff
xscreensaver.Dialog.Button.background:  #000000
xscreensaver.Dialog.Button.foreground:  #ffffff
xscreensaver.Dialog.text.background:    #000000
xscreensaver.Dialog.text.foreground:    #ffffff

xscreensaver.Dialog.shadowThickness:    1
xscreensaver.Dialog.topShadowColor:     #000000
xscreensaver.Dialog.bottomShadowColor:  #000000

!! https://gist.github.com/jaysonrowe/6202685

!! -----------------------------------------------

!! EoF !!
